body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Чуть светлее фон */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .contact-info {
    font-size: 1.2rem;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h1, .container h2 {
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.container img.scroll-top {
    width: 40px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.container img.scroll-top:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
